body {
    display: grid;
    background: #96858f;
}
header {
    height: 100px;
    background: #6d7993;
    margin-bottom: 20px;
    text-align: center;
}
/*.sidebar {
     
    float: right;
    width: 100px;
    height: 300px;
    background: #d5d5d5;*/
}
a {color: #d5d5d5;}

a:hover {
    color: #9099a2;
}
.container {
    
    margin-top: 20px;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #d5d5d5;
    color: #444;
}
    .diagrams {
        
        margin: 0 auto;
    text-align: center;
    }

.row {

}
h2 {
    font-size: small;
}
p {
    margin: 10px;
}
.description {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.column2 {
    width: 50%;
}
/*
.column3 {
    width: 33%;
}*/
.bar {width: 80%;
height: 1px;
background: #6d7993;
margin: 0 auto;}

.images {margin: 0 auto;
margin-bottom: 20px;}

footer {height: 50px;
    background: #6d7993;}
    